<!DOCTYPE html>
<header class="main-header" th:fragment="header" >

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" th:href="@{/plugins/datatables/dataTables.bootstrap.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.css}">

    <!-- bootstrap datetimepicker -->
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.css}">     

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link th:href="@{/plugins/bootstrap-duallistbox/bootstrap-duallistbox.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap 3.3.6 -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/dist/js/app.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script th:src="@{/dist/js/demo.js}"></script>



    <!-- Logo -->
    <a href="#" class="logo" style="background-color: #367fa9;color: #ffffff; border-bottom: 0 solid transparent;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>O</b>TT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>T3H</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="background-color: #3c8dbc;">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </nav>






</header>